<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Big shope A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="/Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <!--theme-style-->
    <link href="/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/css/custom.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->

</head>
<body>
    <!--header-->
    @Html.Partial("Header")
    <!---->
    <div class="container">
        @RenderBody()
        @*@Html.Partial("Category")*@
    </div>

    @Html.Partial("Footer")

    <div class="clearfix"></div>

    <!-- react js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
     

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/Assets/client/js/controllers/shoppingCart.js"></script>

    <script src="~/Assets/client/js/common.js"></script>

    <script src="~/reactApp/App.jsx" type="text/babel"></script>
    <script src="~/reactApp/main.js" type="text/babel"></script>
    
    @*<script src="@Url.Content("~/reactApp/App.jsx")"></script>*@

    @*<script src="~/reactApp/sidebar.js" type="text/babel"></script>
    <script src="~/reactApp/main.js" type="text/babel"></script>*@

    <!--script-->
    @RenderSection("footerJS", required: false)

</body>
</html>